@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  margin: 0;
  height: 115vh;
  background-image: url("https://i.pinimg.com/originals/d7/a6/11/d7a61190a836bdcfc62bf97af4f4c74b.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 120%;
  font-family: "Montserrat", sans-serif;
}
img {
  width: 160px;
  border-radius: 100px;
  margin-top: 2em;
  height: 160px;
}
div.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
div.tables {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1em;
  flex-direction: row;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

#myTable {
  background-color: #000000d0;
  color: #fffd74;
  border: none;
  border-radius: 20px;
  width: 60%;
  margin-top: 2em;
}
#spaceshipTable {
  background-color: #000000d0;
  color: #fffd74;
  border: none;
  border-radius: 20px;
  width: 80%;
}
th {
  border: none;
  text-transform: capitalize;
}
td {
  text-align: center;
  border: none;
  cursor: pointer;
}

button {
  background-color: #7c7c7c9b;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #bacdb0;
  color: #333;
}

#search {
  border-radius: 50px;
  border: none;
  height: 40px;
  font-family: inherit;
  cursor: pointer;
  background-color: #7c7c7c9b;
  padding: 0.5em 1em;
  color: white;
  font-size: 90%;
}

#list {
  width: 20%;
  border-radius: 20px;
  color: #fffd74;
  list-style: none;
  margin-top: 2em;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  align-items: center;
  background-color: #000000d0;
}
p {
  color: #fffd74;
  font-size: 0.7em;
}
